<footer>
    <div class="navbar-inverse" style="margin-bottom:0px">
        <div class="container">
            <div class="row footer1">
                <ul class="list-group seven-cols footermargin footer-Text">
                    <li class="col-md-1 list-unstyled ">Men</li>
                    <li class="col-md-1">Women</li>
                    <li class="col-md-1">Kids</li>
                    <li class="col-md-1">Accessories</li>
                    <li class="col-md-1">Sale</li>
                    <li class="col-md-1">LookBook</li>
                    <li class="col-md-1">Blog</li>
                </ul>

            </div>
            <div class="row footermargin">
                <div class="col-md-3 col-xs-6 footer2 col-border2">
                    <p> <span style="font-style:italic;color:white;text-align:center"> BuyBlue </span> <br>
                        <span style="color:#656565;text-align:center">2015 DivaniRaj UI Kit. All rights reserved </span></p>

                </div>
                <div class="col-md-6 col-xs-6 footer2">
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input class="form-control col-xs-4" id="email" name="email" type="text" placeholder="sign up for style news" />
                        </div>
                    </div>
                    <div class="row footer2R">
                        <p class="col-md-4 ">Privacy & Cookies</p>
                        <p class="col-md-4">Terms & Conditions</p>
                        <p class="col-md-4">Accessibility</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 footer2R2">
                    <div class="row">
                        <span class="fa fa-twitter col-md-3 col-xs-3 fa-lg"></span>
                        <span class="fa fa-pinterest-p col-md-3 col-xs-3 fa-lg"></span>
                        <span class="fa fa-instagram col-md-3 col-xs-3 fa-lg"></span>
                        <span class="fa fa-facebook col-md-3  col-xs-3 fa-lg"></span>
                    </div>
                    <div class="row">
                        <span class="fa fa-cc-visa col-md-4  col-xs-4 mediaIcon fa-2x"></span>
                        <span class="fa fa-cc-mastercard col-md-4 col-xs-4  mediaIcon fa-2x"></span>
                        <span class="fa fa-cc-paypal col-md-4  col-xs-4 mediaIcon fa-2x"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
